/Users/tomermildworth/Documents/University/Year_1/Semester_a/Extended\ Intro\ to\ CS/**/venv
/Users/tomermildworth/Documents/University/Year_1/Semester_a/Extended\ Intro\ to\ CS/**/.idea
/Users/tomermildworth/Documents/University/Year_1/Semester_a/Extended\ Intro\ to\ CS/**/drafts
.env
*.DS_Store